module.exports = {
  firebaseApiKey: '',
  firebaseAuthDomain: '',
  firebaseDatabaseURL: '',
  firebaseProjectId: '',
  firebaseStorageBucket: '',
  firebaseMessagingSenderId: '',
  firebaseAppId: '',
  firebaseMeasurementId: '',
  algoliaAppId: '',
}
