rules_version = '2';

service cloud.firestore {
  function isAnyAuthenticated() {
    return request.auth != null;
  }

  function isApprovedEmails() {
    return request.auth.token.email.matches('hirocueki@gmail.com|natto.and.eggs@gmail.com|.*@sonicgarden.jp');
  }

  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if isAnyAuthenticated() && isApprovedEmails();
    }
  }
}
