rules_version = '2';

service cloud.firestore {
  function isApprovedEmails() {
    return request.auth != null && request.auth.token.email.matches('hirocueki@gmail.com|natto.and.eggs@gmail.com|.*@sonicgarden.jp');
  }

  function validCreateNote(request, resource) {
    return request.resource.data.userId == request.auth.uid && request.resource.data.title.length > 0 && reqeust.resourece; 
  }

  match /databases/{database}/documents {
    match {

      match /notes/{nodeId} {
        allow list: if isApprovedEmails();
        allow delete: if resource.data.userId == request.auth.uid;
        allow create: if validCreateNote(request, resource);
        allow update: if request.resource.data.userId == resource.data.userId;
      }

      match /users/{userId} {
        // emailとか見せたくないやつ
        allow read: if request.auth == userId;
      }

      match /public_users/{userId} {
        allow read: if request.auth != null;
      }
    }
  }
}
